/*-------google fonts----------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
body{
  font-family: 'Poppins', sans-serif;
  background-color: #FFFFFF;
}
/*---------header item style----------*/
.header-info{
  background-color: #2D25A0;
  height: 677px;
}
/*--------transform,transition style----------*/
.header-info:hover .football-img img{
  transform: scale(1.2) skew(10deg);
  transition-duration: 2s;
  transition-delay: 0.5s;
}
/*-----------hover style-------------*/
.page-link:hover{
  color:#E02C6D;
}

.login-item:hover a{
  background-color: #E02C6D;
}
.button:hover{
  background-color:#E02C6D;
}
/*-----------------------------*/
.container{
  width: 1160px;
  margin: 0 auto;
}
.head-menu{
  height: 44px;
  padding-top: 42px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.page-link{
  text-decoration: none;
  margin-right: 36px;
  color: #FFFFFF;
}

.login-item nav a{
  color:#FFFFFF;
  background-color: rgb(102, 199, 6);
  padding: 10px 24px;
  text-decoration: none;
}
.login-item i{
  padding-right: 8px;
}
/*-----------content items style---------*/
.head-content{
  color:#FFFFFF;
  display: flex;
  justify-content: space-between;
}
.football-info h1{
  font-size: 64px;
  width: 485px;
  margin: 121px 0px 27px 0px;
}
.button{
  color: #FFFFFF;
  text-decoration: none;
  background-color: rgb(102, 199, 6);
  padding: 10px 24px;
}

.button i{
  padding-left: 8px;
}
.football-img img{
  width: 556px;
  height: 438px;
  margin-top: 67px;
}
/*-------players info style-------*/
.player-section{
  margin-top: 70px;
}
.players{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 27px;
}
.player{
  width: 330px;
  height: 474px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  padding-bottom: 30px;
}
.player-img img{
  width: 300px;
  height: 256px;
  padding: 15px 15px 0px 15px;
}
.player-info{
  width: 300px;
  height: 154px;
}
.player-info h3{
  font-size: 28px;
  padding: 0px 15px;
  margin-top: 16px;
}
.player-info p{
  font-size: 16px;
  color: #6C6C6C;
  font-weight: 400;
  padding: 0px 15px;
  text-align: justify;
}
/*---------highlights section styles---------*/
.highlight-section{
  margin-top: 165px;
}
.highlight-content{
  display: flex;
  justify-content: space-between;
}
.highlight-info{
  width: 469px;
  height: 309px;
}
.highlight-info h1{
  font-size: 48px;
  width: 100%;
  height: 120px;
  padding-bottom: 8px;
}
.highlight-info p{
  padding-bottom: 24px;
  color: #6C6C6C;
  font-size: 16px;
}
.hightlight-img img{
  width: 567px;
  height: 427px;
}
/*--------ranking section style--------*/
.ranking-section{
  margin-top:90px;
}
.ranking-section h1{
  text-align: center;
  font-size: 40px;
  padding-bottom: 30px;
}
.team-ranking {
  display: flex;
  justify-content: space-around;
}
table{
  border-collapse: collapse;
  border-color: #2D25A0;
}
table tr th{
  padding: 10px 30px;

}
table tr td{
  padding: 10px 30px;
  font-size: 30px;
}
.team-flag{
  width: 33px;
  height: 22.5px;
  margin-right: 10px;
}
/*--------------video section styles----------*/
.video-section{
  margin-top: 90px;
}
.videos{
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
}
.video{
  width: 350px;
  margin-left: 25px;
}
.video-section h1{
  text-align: center;
  font-size: 40px;
  padding-bottom: 30px;
}
.video-source video{
  width:350px;
  height: 200px;
  border-radius: 8px;
}
.video-info p{
  color: black;
  font-size: 20px;
}
.video-info a{
  text-decoration: none;
  color: #6C6C6C;
}
/*------------footer part styles--------*/
.football-footer{
  padding-top: 158px;
  padding-bottom: 63px;
}
.footer-info{
  width: 483px;
  height: 213px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-img img{
  width: 483px;
  height: 110px;
  margin: 20px 0px;
}
.footer-icon a {
  width: 32px;
  height: 32px;
  text-decoration: none;
  margin: 0 14px;
  color: #969BAB;
}
.footer-details h4{
  color: #000000;
  font-weight: 400;
}
/*-----------Responsive in mobile device-----------*/
@media only screen and (max-width:480px) {
  .container{
    width: 100%;
  }
  /* head responsive */
  .header-info{
    background-color: #2D25A0;
    height: 720px;
    width: 480px;
  }
  .head-menu{
    display: none;
    padding-top: 0px;
  }
  .head-content{
    width: 100%;
    margin-left: 16px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .football-info h1{
    width: 278px;
    font-size: 36px;
  }
  .football-img img{
    width: 329px;
    height: 259px;
  }
  .header-info:hover .football-img img{
    transform: none;
    transition: none;
  }
  /* players section responsive */
  .players{
    margin: 0 15px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  /* highlingt section responsive */
  .highlight-section{
    margin-top: 35px;
  }
  .highlight-content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 150px;
    margin: 0 16px;
  }
  .highlight-info h1{
    width: 294px;
    height: 80px;
    font-size: 30px;
  }
  .highlight-info p{
    width: 329px;
    font-size: 16px;
  }
  .hightlight-img img{
    width: 328px;
    height: 248px;
  } 
  /* table and tema ranking responsive */
  .team-ranking{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 50px;
  }
  table{
    width: 328px;
    height: 200px;
    margin: 0 15px;
  }
  table tr th{
    font-size: 10px;
  }
  table tr td{
    font-size: 10px;
  }
  .team-flag{
    width: 20px;
    height: 15px;
    margin-right: 0;
  }
  /* video section responsive */
  .video-section h1{
    width: 328px;
  }
  .videos{
    width: 320px;
    margin: 0 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 50px;
  }
  .video{
    margin-left: 0;
  }
  /* footer responsive */
  .football-footer{
    padding-top: 43px;
    padding-bottom: 83px;
  }
  .footer-info{
    width: 236px;
  }
  .footer-img img{
    width: 296px;
    height: 65px;
  }
  
}
/*-----------Responsive in tablet device-----------*/
@media only screen and (min-width:768px) and (max-width:1023px) {
  .container{
    width: 100%;
    margin: 0 auto;
  }
  /* head responsive */
  .header-info{
    background-color: #2D25A0;
    height: 600px;
  }
  .head-menu{
    display: none;
    padding-top: 0px;
  }
  .head-content{
    width: 100%;
    margin-left: 16px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .football-info h1{
    width: 278px;
    font-size: 36px;
    margin: 60px 0px 27px 0px;
  }
  .football-img img{
    width: 329px;
    height: 259px;
  }
  .header-info:hover .football-img img{
    transform: none;
    transition: none;
  }
  /* players section responsive */
  .players{
    margin: 0 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  /* highlingt section responsive */
  .highlight-section{
    margin-top: 35px;
  }
  .highlight-content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 150px;
    margin: 0 16px;
  }
  .highlight-info h1{
    width: 294px;
    height: 80px;
    font-size: 30px;
  }
  .highlight-info p{
    width: 329px;
    font-size: 16px;
  }
  .hightlight-img img{
    width: 328px;
    height: 248px;
  } 
  /* table and tema ranking responsive */
  .team-ranking{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 50px;
  }
  table{
    width: 350px;
    height: 200px;
    margin: 0 15px;
  }
  table tr th{
    font-size: 10px;
  }
  table tr td{
    font-size: 10px;
  }
  .team-flag{
    width: 20px;
    height: 15px;
    margin-right: 0;
  }
  /* video section responsive */
  .video-section h1{
    width: 328px;
  }
  .videos{
    width: 320px;
    margin: 0 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
  .video{
    margin-left: 0;
  }
  /* footer responsive */
  .football-footer{
    padding-top: 43px;
    padding-bottom: 83px;
  }
  .footer-info{
    width: 236px;
  }
  .footer-img img{
    width: 296px;
    height: 65px;
  }
  
}